<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Alert list</title>
</head>
<body>

<h1>Alert list</h1>

<table>
    <tr>
        <th>Date</th>
        <th>Days</th>
        <th>Hour</th>
        <th>Location</th>
    </tr>
    <tr th:each="alert : ${alerts}">
        <td><span th:text="${alert.date}" /></td>
        <td><span th:text="${alert.days}" /></td>
        <td><span th:text="${alert.hour}" /></td>
        <td><sapn th:text="${alert.location}"/></td>
    </tr>
</table>

<div th:if="${not #lists.isEmpty(alerts)}">
    <p> Your alerts list is empty</p>
</div>

</body>
</html>