<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="header/header::header"></header>
<div>
    <div>
        <p th:if="${loginError}" class="error">Mauvais mot de passe ou nom d'utilisateur</p>
        <form th:action="@{/login}" method="post">
            <fieldset>
                <div>
                    <label for="email">Nom d'utilisateur</label>
                    <input type="text" id="email" name="email" placeholder="Email" required="required" autofocus="autofocus" />
                </div>

                <div>
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" placeholder="Mot de passe" required="required" />
                </div>

                <div>
                    <input type="submit" value="Se connecter" />
                </div>

                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            </fieldset>
        </form>
    </div>
</div>
</html>