<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Acceuil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blueprint: Horizontal Slide Out Menu" />
    <meta name="keywords" content="horizontal, slide out, menu, navigation, responsive, javascript, images, grid" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../menu/css/default.css" />
    <link rel="stylesheet" type="text/css" href="../menu/css/component.css" />
    <script src="../menu/js/modernizr.custom.js"></script>
    <!--===============================================================================================-->
</head>
<body>
<div class="container">
    <header class="clearfix">
        <span>ScholaNova <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
        <h1>Weather Dashboard</h1>
    </header>
    <div class="main">
        <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
            <div class="cbp-hsinner">
                <ul class="cbp-hsmenu">
                    <li>
                        <a href="../main">Acceuil</a>
                    </li>
                    <li>
                        <a href="../alert">Alertes</a>
                    </li>
                    <li>
                        <a href="#">Profil Utilisateur</a>
                    </li>
                    <li>
                        <form th:action="@{../findlocation}" method="get">
                            <input th:name="name" th:value="${name}" />
                            <input type="submit" value="Find"/>
                        </form>
                    </li>
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/logout}">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<script src="js/cbpHorizontalSlideOutMenu.min.js"></script>
<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>


<h1>Mes lieux d'intérêt</h1>

<div th:if="${not #lists.isEmpty(locations)}">
    <table>
        <tr>
            <th>Nom</th>
            <th>Content</th>
            <th>Delete</th>
        </tr>
        <tr th:each="location : ${locations}">
            <td><span th:text="${location.name}" /></td>
            <td>empty content</td>
            <td><a th:href="@{/locations/delete/{id}(id=${location.id})}">Delete</a></td>
        </tr>
    </table>
</div>

<div th:if="${#lists.isEmpty(locations)}">
    <p> la liste des lieux favoris est vide</p>
</div>

<a href="/locations/new">Ajouter un lieu</a>


</body>
</html>