<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Acceuil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blueprint: Horizontal Slide Out Menu" />
    <meta name="keywords" content="horizontal, slide out, menu, navigation, responsive, javascript, images, grid" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../menu/css/default.css" />
    <link rel="stylesheet" type="text/css" href="../menu/css/component.css" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../css/util.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="../menu/js/modernizr.custom.js"></script>
    <!--===============================================================================================-->
</head>
<body>
<div class="container">
    <header class="clearfix">
        <span>ScholaNova <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
        <h1>Weather Dashboard</h1>
    </header>
    <div class="main">
        <nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
            <div class="cbp-hsinner">
                <ul class="cbp-hsmenu">
                    <li>
                        <a href="../main">Acceuil</a>
                    </li>
                    <li>
                        <a href="../alert">Alertes</a>
                    </li>
                    <li>
                        <a href="#">Profil Utilisateur</a>
                    </li>
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/logout}">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Card -->

    <br>
</div>


<form th:action="@{../findlocation}" method="get" class="login100-form validate-form">

    <div class="container-login100-form-btn">
        <div class="wrap-input100 validate-input" data-validate = "Entrer ville">
            <input style="border: solid;
    border-radius: 20PX;
    BORDER-COLOR: royalblue;
    WIDTH: 990PX;
    TEXT-ALIGN-LAST: CENTER;
        margin-left: 300PX;
        background-color: gainsboro;
" th:name="name" th:value="${name}" class="input100" type="text" required="required" autofocus placeholder="Rechercher une ville"/>
        </div>
        <button type="submit" class="login100-form-btn">
            Rechercher une ville
        </button>
    </div>
</form>

<br>

<div class="cbp-hsinne" style="
   width: auto;
    MARGIN-LEFT: 100px;
    height: auto;
    display: flex;
    flex-flow: wrap;
    float: left;
    margin-right: 2px;
        margin-bottom: 20PX;

    " th:if="${not #lists.isEmpty(locations)}" th:each="location : ${locations}">

        <div class="card weather-card"  >

            <!-- Card content -->
            <div class="card-body pb-3">

                <!-- Title -->
                <h4 class="card-title font-weight-bold" th:text="${location.name}"></h4>
                <!-- Text -->
                <p class="card-text"  th:text="${location.response.forecast.datetime}"></p>
                <div class="d-flex justify-content-between">
                    <p class="display-1 degree" th:text="${location.response.forecast.tmin} + '°'" ></p>
                    <p class="display-1 degree" th:text="${location.response.forecast.tmax} + '°'"></p>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <p><i class="fas fa-tint fa-lg text-info pr-2" th:text="${location.response.forecast.probarain}+ '%'"></i></p>
                    <p><i class="fas fa-leaf fa-lg grey-text pr-2" th:text="${location.response.forecast.probafrost}+ '%'"></i></p>
                </div>
                <div class="progress md-progress">
                    <div class="progress-bar black" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <ul cla ss="list-unstyled d-flex justify-content-between font-small text-muted mb-4">
                    <li class="pl-4"><a th:href="@{'/favorites-locations/delete/' + ${location.getId()}}">Supprimer</a></li>
                </ul>

                <div class="collapse-content">

                    <div class="collapse" id="collapseExample">

                        <table class="table table-borderless table-sm mb-0">
                            <tbody>
                            <tr>
                                <td class="font-weight-normal align-middle">Tuesday</td>
                                <td class="float-right font-weight-normal">
                                    <p class="mb-1">24&deg;<span class="text-muted">/12&deg;</span></p>
                                </td>
                                <td class="float-right mr-3">
                                    <i class="fas fa-sun fa-lg amber-text"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-normal align-middle">Wednesday</td>
                                <td class="float-right font-weight-normal">
                                    <p class="mb-1">19&deg;<span class="text-muted">/10&deg;</span></p>
                                </td>
                                <td class="float-right mr-3">
                                    <i class="fas fa-cloud-sun-rain fa-lg text-info"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-normal align-middle">Thursday</td>
                                <td class="float-right font-weight-normal">
                                    <p class="mb-1">23&deg;<span class="text-muted">/15&deg;</span></p>
                                </td>
                                <td class="float-right mr-3">
                                    <i class="fas fa-sun fa-lg amber-text"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-normal align-middle">Friday</td>
                                <td class="float-right font-weight-normal">
                                    <p class="mb-1">26&deg;<span class="text-muted">/19&deg;</span></p>
                                </td>
                                <td class="float-right mr-3">
                                    <i class="fas fa-sun fa-lg amber-text"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-normal align-middle">Saturday</td>
                                <td class="float-right font-weight-normal">
                                    <p class="mb-1">20&deg;<span class="text-muted">/16&deg;</span></p>
                                </td>
                                <td class="float-right mr-3">
                                    <i class="fas fa-cloud fa-lg text-info"></i>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-normal align-middle">Sunday</td>
                                <td class="float-right font-weight-normal">
                                    <p class="mb-1">22&deg;<span class="text-muted">/13&deg;</span></p>
                                </td>
                                <td class="float-right mr-3">
                                    <i class="fas fa-cloud-sun fa-lg text-info"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <hr class="">

                    <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 deep-purple-text collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></a>
                </div>


            </div>

        </div>
        <!-- Card -->
</div>
<div th:if="${#lists.isEmpty(locations)}" style="text-align: center;">
    <h4> Pas de villes Favorites. Ajouter à partir de la barre de recherche!</h4>
</div>

<script src="js/cbpHorizontalSlideOutMenu.min.js"></script>
<script>
			var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
		</script>





</body>
</html>