<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<header th:replace="header/header::header"></header>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Modification alertes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../css/util.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<h1>Modifier Alerte</h1>

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100">
            <p th:if="${Error}" class="error">Erreur de Modification de l'alerte</p>
            <form action="#"
                      th:action="@{/alert/update/{id}(id=${alert.id})}"
                      th:object="${alert}"
                      method="post">
                    <label for="caption">Caption</label>
                    <input type="text" th:field="*{caption}" id="caption" placeholder="Caption">
                    <span th:if="${#fields.hasErrors('caption')}" th:errors="*{caption}"></span>
                    <label for="date">Date</label>
                    <input type="text" th:field="*{date}" id="date" placeholder="Date">
                    <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
                    <input type="submit" value="Update alert">
                </form>
            </form>
        </div>
    </div>
</div>

</body>
</html>